<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Dortmund</title>
  </head>
  <body>
    <h2>Dortmund</h2>
    <p>
      The once important imperial and Hanseatic city ( Tremonia in Latin ) along
      the Hellweg , which presumably goes back to the founding of a Carolingian
      imperial court , is now developing from an industrial metropolis into an
      important service and technology location: formerly known primarily for
      steel , coal and beer.
    </p>
    <header>
      <h2>Mosques in Dortmund </h2>
    </header>
    <section>
      <nav>
        <ul>
          <li><a href="https://alsahaba.de/" target="blank">Alsahaba</a></li>
          <li><a href="#">Alnaser</a></li>
          <li><a href="#">Abu baker</a></li>
        </ul>
      </nav>
      <article>
        <h1>Alsahaba Mosque</h1>
        <p>
          The Companions Mosque was inaugurated in 2020 AD, with the grace of
          God Almighty. The mosque belongs to the Syrian-German Cultural
          Association, licensed under<span>No. 7416</span> of 2018
        </p>
      </article>
    </section>
    <footer>
        <p>Copyrights &copy Nour 2023</p>
    </footer>
  </body>
</html>
